.optionButtonGroup {
  display: flex;
}
.buttonContainer {
  margin: 0 24px;
}
.categoryButtons {
  margin-top: 40px;
  flex-grow: 1;
}

.carouselWrapper {
  margin-top: 48px;
}
.button {
  color: #fff;
  background: #222;
}
.spacing {
  margin-top: 1rem;
}
.primaryButton,
.primaryButton:hover {
  color: #fff;
  background: #222;
  border: none;
  border-radius: 0;
}

.secondaryButton,
.secondaryButton:hover {
  color: #222;
  background: #fff;
  border-radius: 0;
  border: 1px solid #222;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 4rem;
}
