.page {
  display: flex;
  background: #faf9f8;
}
.container {
  padding: 0 1rem;
  margin: auto;
  width: 80%;
}
.leftSection {
  width: 10%;
}
.rightSection {
  width: 10%;
}
.headerLogo {
  margin: auto;
  padding: 1.5rem 0;
  width: 5%;
}
