.button {
  background: #fff;
  border: 1px solid #222;
  /* color: #fff; */
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  height: 40px;
  flex-grow: 1;
}
.button:hover {
  color: #fff;
  background: #222;
}
